.panel div {
    margin: 2.5rem 0 0.68rem 0;
    line-height: 36px;
}
.container h1 {
    font-size: 3.2rem;
    line-height: 100%;
    margin: 1.8rem 0 0.68rem 0;
}

.container h4 {
    margin: 0.52rem 0 1.912rem 0;
}

.error-message {
    display: inline-block;
    background-color: orangered;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 6px 15px 7px;
    margin: 0px 0 20px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.success-message {
    display: inline-block;
    background-color: green;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 6px 15px 7px;
    margin: 0px 0 20px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

form .input-field.col label {
    font-size: 1rem;
    position: relative;
    left: 0;
    border-bottom: 1px dashed #9e9e9e;
}

form select {
    display: block;
    height: 2.5rem;
    cursor: pointer;
    transition: 0.3s linear;
}

form select:hover {
    border: 1px solid #42A5F5;
}

form input[type="submit"] {
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
}

form input[readonly] {
    font-style: italic;
    color: #757575;
}

.tasks {
    margin: 0 0 15px;
}

.tasks td span {
    font-size: smaller;
    font-style: italic;
    color: gray;
}

.pagination {
    text-align: center;
}